@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.boton {
  background-color: #d6a5bd;
  border: none;
  color: white;
  border-radius: 5px; }
  .boton:hover {
    background-color: rgba(214, 165, 189, 0.733);
    text-decoration: none; }

h1, h2, h3, h4, h5, p, a {
  font-family: 'Noto Serif', serif; }

a {
  text-decoration: none;
  color: black; }
  a:hover {
    color: black; }

li a {
  color: black !important; }
  li a:hover {
    color: rgba(214, 165, 189, 0.733) !important; }

.portada {
  background-image: url(../assets/img/portada.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 450px;
  background-position: center; }
  .portada .textoPortada {
    text-shadow: 2px 2px 4px black; }

footer {
  background-color: #d6a5bd; }
  footer .logo {
    width: 80px; }

.redesLogo {
  width: 30px; }

.tarjetaProductos {
  border-radius: 10px;
  box-shadow: 0 0 10px; }
  .tarjetaProductos .productosImg {
    width: 100%;
    overflow: hidden; }

body {
  overflow-x: hidden; }

.body {
  overflow-x: hidden; }

.agradecimientos {
  background-color: rgba(214, 165, 189, 0.76);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; }

.imgHistoria {
  width: 80%;
  border-radius: 10px; }

.preguntasRespuestas {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width: 30%; }
  .preguntasRespuestas .linkFaqs {
    font-weight: bolder; }

textarea {
  resize: none; }

.infoInputs {
  width: 500px;
  padding: 5px; }

.btnFormulario {
  margin-left: 20px;
  padding: 15px; }

.contactosFondo {
  background-image: url(../assets/img/portadaDesenfocada.jpg);
  background-size: cover;
  background-position: center;
  height: 500px; }
  .contactosFondo .mensajeTitulo {
    color: white;
    text-shadow: 2px 2px 4px black; }

@media (max-width: 768px) {
  .infoInputs {
    width: 300px; }
  .preguntasRespuestas {
    width: 70%; } }

@media (max-width: 397px) {
  .infoInputs {
    width: 200px; } }

@media (min-width: 1100px) {
  .subtituloIndex {
    margin-bottom: 60px; } }

@media (min-width: 390px) {
  .nombrePortada {
    font-size: 5rem !important; } }

.imgIndex {
  width: 100%; }
