@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.btn {
  background-color: #d6a5bd;
  border: none; }

.btn:hover {
  background-color: rgba(214, 165, 189, 0.733);
  text-decoration: none; }

h1, h2, h3, h4, h5, p, a {
  font-family: 'Noto Serif', serif; }

a {
  text-decoration: none;
  color: black; }
  a:hover {
    color: black; }

li a {
  color: black !important; }
  li a:hover {
    color: rgba(214, 165, 189, 0.733) !important; }

.portada {
  background-image: url(../assets/img/portada.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
  background-position: center; }
  .portada .textoPortada {
    text-shadow: 2px 2px 4px black; }
  .portada .nombrePortada {
    font-size: 5rem; }

@media (max-width: 397px) {
  .nombrePortada {
    font-size: 3rem; } }

footer {
  background-color: #d6a5bd; }
  footer .logo {
    width: 80px; }

.redesLogo {
  width: 30px; }

.tarjetaProductos {
  border-radius: 10px;
  box-shadow: 0 0 10px; }
  .tarjetaProductos .productosImg {
    width: 220px;
    overflow: hidden; }

@media (max-width: 992px) {
  .frutillas {
    width: 200px; } }

body {
  overflow-x: hidden; }

.agradecimientos {
  background-color: rgba(214, 165, 189, 0.76);
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; }

.preguntasRespuestas {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; }

textarea {
  resize: none; }

.infoInputs {
  width: 500px;
  padding: 5px; }

.btnFormulario {
  margin-left: 20px; }

@media (max-width: 768px) {
  .infoInputs {
    width: 300px; } }

@media (max-width: 397px) {
  .infoInputs {
    width: 200px; } }

.contactosFondo {
  background-image: url(../assets/img/portadaDesenfocada.jpg);
  background-size: cover;
  background-position: center;
  height: 500px; }
  .contactosFondo .mensajeTitulo {
    color: white;
    text-shadow: 2px 2px 4px black; }
