.boton{
    background-color:$colorPrimario ;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    &:hover{
        background-color: $colorHover;
        text-decoration: none;
    }
}
