textarea{
    resize: none;
}

.infoInputs{
    width: 500px;
    padding: 5px;
}

.btnFormulario{
    margin-left: 20px;
}

@media(max-width:768px){
    .infoInputs{
        width: 300px;
    }

}

@media(max-width:397px){
    .infoInputs{
        width: 200px;
    }
}
