@media(max-width:768px){
    .infoInputs{
        width: 300px;
    }

    .preguntasRespuestas{
        width: 70%;
    }

}

@media(max-width:397px){
    .infoInputs{
        width: 200px;
    }

    .nombrePortada{
        font-size: 3.2rem !important;
    }
}


@media(min-width:1100px){
    .subtituloIndex{
        margin-bottom: 60px; 
    }
}