@media(max-width:768px){
    .infoInputs{
        width: 300px;
    }

    .preguntasRespuestas{
        width: 70%;
    }

}

@media(max-width:397px){
    .infoInputs{
        width: 200px;
    }

    
}


@media(max-width:400){
    .nombrePortada{
        font-size: 2rem;
    }
}