@media(max-width:768px){
    .infoInputs{
        width: 300px;
    }

}

@media(max-width:397px){
    .infoInputs{
        width: 200px;
    }

    
}

@media(max-width:992px){
    .frutillas{
        width: 200px;
    }
}

@media(max-width:400){
    .nombrePortada{
        font-size: 2rem;
    }
}