.agradecimientos{
    background-color:rgba(214, 165, 189, 0.76) ;
    border-radius: $bordesCirculares;
    box-shadow: $sombraCajas;
}

.imgHistoria{
    width: 80%;
    border-radius: $bordesCirculares;
}
