.portada{
    background-image: url(../assets/img/portada.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 450px;
    background-position: center;
        .textoPortada{
            text-shadow: $textShadow;
            font-size: 5rem;
        }

}




