$colorPrimario: rgb(214, 165, 189);
$colorLetras: rgb(0,0,0);
$colorHover: rgba(214, 165, 189, 0.733);
$textShadow: 2px 2px 4px rgb(0, 0, 0);
$bordesCirculares: 10px;
$sombraCajas:rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;