$colorPrimario: rgb(214, 165, 189);
$colorLetras: rgb(0,0,0);
$colorHover: rgba(214, 165, 189, 0.733);
$textShadow: 2px 2px 4px rgb(0, 0, 0);
$bordesCirculares: 10px;
$sombraCajas:rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
$colorSecundario:rgb(221, 196, 208);
$colorTerciario:rgb(218, 179, 198);